<%= form_with(model: fee) do |form| %>
  <% if fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fee.errors.count, "error") %> prohibited this fee from being saved:</h2>

      <ul>
        <% fee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :deposite_fee %>
    <%= form.number_field :deposite_fee %>
  </div>

  <div class="field">
    <%= form.label :total_fee %>
    <%= form.number_field :total_fee %>
  </div>

  <div class="field">
    <%= form.label :deposit_date %>
    <%= form.date_select :deposit_date %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
